/*tr,th
{
	padding:30px;

}*/
/*
.pipelineRow
{
}

#pipelineTable
{
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-collapse: collapse;
	padding: 0px;
	position: absolute;
	/*width:1000px;
	right: 0px;	
	left: 300px;
	font-family: helvetica;
	border:1px black solid;
	/*width: 90%;

}

#pipelineTableContainer
{
	top:10px;
	position: absolute;
	/*width: 100%;
	left: 30px;
}*/
